@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;

    font-family: 'gilroyextrbold', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}
.main-header{
    display: flex;
    flex-direction: column;
    color:#000000;
    background-color: #f7e296;
    min-height: 225px;
    margin-bottom: 65px;
}
 .main-header-logo {
    font-size: 48px;
    line-height: 48px;
    color: #000000;
    font-weight: 725;
  }
.main-footer-logo{
    font-size: 48px;
    line-height: 48px;
    color:#ffc600;
    font-weight: 725;
}
.main-navigation {
    font-family: 'gilroyextrabold', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f7e296;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user-navigation{
      justify-content: space-between;
      font-family: 'open_sanslight', sans-serif;
      font-size: 15px;
      line-height: 30px;
      color: #000000;
      
      background-color: #f7e296;
  }
  .site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    list-style: none;
    width:1050px;
    margin:0;
    padding:0;
  }
  .user-navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 505px;
    margin:0;
    padding:0;
  }
  .main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;
  }
  .slider {
    margin-top: -101px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    
    min-height: 485px;
  }                                                                                                                                                         
  .slide1{
    display: flex;
    padding: 0;
    list-style: none;
    width:100px;
    
    min-height: 485px;
  }
  .slide2{
    margin: 0;
    list-style: none;
    width:100px;
    display: none;

    min-height: 485px;
  }
  .slide3{
    margin: 0;
    padding: 0;
    list-style: none;
    
    width:100px;
    min-height: 485px;
    display:none;
  }
 .warranty{
     display: none;
 }
 .credit{
     display: none;
 }
  .site-navigation a,
  .user-navigation a{
      color: #000000;
  }
  .site-navigation a:focus,
  .user-navigation a:focus,
  .site-navigation a:hover,
  .user-navigation a:hover{
  color: rgba(0,0,0,0.6)
}
.main-footer{
    display: flex;
}
  .footer-part1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: flex-start;
  }
  .footer-part2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}
.footer-part3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
}

  .goods-list{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .goods-item{
    text-align: center;
  }
  .features-list{
      list-style: none;
    }
  .features {
      display: flex;
      justify-content: space-between;
  }
  .brands{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    }
  .social-buttons{
    list-style: none;
    display: flex;
    flex-direction: row;
}

 .button {
    font: inherit;
  
    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;

    background-color:#ffffff;
    border: none ;
}
  b {
      text-decoration: none;
      font-size: 47px;
      line-height: 56px;
  }
 .button:focus,
 .button:hover{
     background-color: #f0c52e;
 }
 .button:active{
    background-color: #f0c52e;
    color:#000000;
 }
 .main-footer {
     color: #ffffff;
     background-color: #464646;
 }

 .social-button{
     text-align: center;
     color: rgba(255, 255, 255, 0.3);
 }
 .social-button:focus
 .social-button:hover{
    color: rgba(255, 255, 255,0.6); 
 }
 .appointment-item input {
    font: inherit;
  
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;}
 .appointment-item input:focus {
    background-color: #ffffff;
    border: 2px solid #f7e296;
  }
  .appointment-item input:hover {
    background-color: #eaeaea;
    border: 2px solid #eaeaea;
  }
 
 .footer-site-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    }
 .footer-user-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
 }

  .footer-copyright a:hover,
  .footer-copyright a:focus{
  color: rgba(255, 198, 0, 0.6);
}
  .footer-site-navigation a{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
  }
  .footer-site-navigation a:focus,
  .footer-site-navigation a:hover{
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255,0.6);   
  }
  .footer-user-navigation a{
    font-size: 15px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
  }
  .footer-user-navigation a:focus,
  .footer-user-navigation a:hover{
    font-size: 15px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
  }
  .adress {
      font-size: 15px;
      line-height: 30px;
  }
  h2 {
      font-family: 'gilroyextrabold', sans-serif; 
      font-size: 47px;
      line-height: 48px;
  }
  p {
      font-size: 15px;
      line-height: 30px;
  }
  .partners{
      font-size: 16px;
      line-height: 40px;
  }
  .visually-hidden{
      display: none;
  }

